.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;
  padding: 10px;
}

.box {
  color: white;
  text-align: center;
  /* border: 1px solid black; */
  border-radius: 8px;
  box-sizing: border-box;
  background-color: #007bff;
  overflow: hidden; /* Prevent image overflow */
  height: 110px; /* Set fixed height */
  padding: 0; /* Remove padding if you want image to fully fit */
}

.grid-container .box img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures image covers the box without stretching */
  border-radius: 8px; /* Match box border */
  display: block;
}

.file-upload {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  padding: 8px 12px;
  border: 2px solid #151515;
  border-radius: 8px;
  background-color: #181818;
  color: #6f7070;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.file-upload:hover {
  background-color: #e0f0ff;
}

.upload-icon {
  font-size: 20px;
}

.file-input {
  display: none;
}

@media (max-width: 480px) {
  .grid-container {
    gap: 6px;
  }

  .box {
    height: 140px; /* Adjust height for smaller screens */
  }
}
