/* Drawer.css */
.drawer {
  position: absolute;
  top: 0;
  left: -34%;
  height: auto;
  width: 250px; /* Adjust as needed */
  background-color: #f0f0f0;
  transform: translateX(-100%); /* Initially off-screen */
  transition: transform 0.3s ease-in-out;
  z-index: 100; /* Ensure it's above other content */
}

.drawer.open {
  transform: translateX(0);
  position: absolute;
  top: 0;
  right: 100%;
  width: 100%;
  background: black;
  border-radius: 10px;
  padding: 20px;
  max-height: 276px;
}

ul li {
  list-style: none;
}
input {
  width: 100%;
  outline: none;
  padding: 6px 10px;
  border-radius: 15px;
  background-color: rgba(23, 23, 23, 0.5);
  color: white;
  border: none;
  margin: 10px 0px;
}

@media screen and (max-width: 600px) {
  /* Drawer.css */
  .drawer {
    position: absolute;
    top: 0;
    left: -34%;
    height: auto;
    width: 250px; /* Adjust as needed */
    background-color: #f0f0f0;
    transform: translateX(-100%); /* Initially off-screen */
    transition: transform 0.3s ease-in-out;
    z-index: 100; /* Ensure it's above other content */
  }

  .drawer.open {
    transform: translateX(0);
    position: absolute;
    top: 0;
    right: 100%;
    width: 100%;
    background: black;
    border-radius: 10px;
    padding: 20px;
    max-height: 276px;
    margin-left: 122px;
  }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
}
